page-palestrantes-edit {
    .centroTotal{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }
    ion-label {
        margin-left: 5px; 
    }
    ion-input {
        padding: 5px;
    }
    .invalid {
        border-bottom: 1px solid #ff6153;
    }
    .error-message {
            min-height: 2.2rem;
            p {
                font-size: 60%;
            }
            ion-label {
                margin: 2px 0;
            } 
            item-inner {
                border-bottom: 0 !important;
            }
    }
    
    #center{

        padding: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 5px;
        background-color: rgba(255, 255, 255, 0);
        justify-content: space-between;
    }

    #fotos:hover {
        
        background-color: rgba(22, 119, 136, 0.589);
    }

    .visually-hidden {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }
      
      input.visually-hidden:focus + label {
        outline: thin dotted;
      }
    
    #fotos{
        height: 100px;
        width: 100px;
        border: 1px;
        border-radius: 10px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 2px 13px rgba(0, 0, 0, 0.7);
    }

    #add{
        width: 95%;
        box-shadow: 0 2px 13px rgba(0, 0, 0, 0.7);
    }

    #myInput{
        background: #eee;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        list-style-type: none;
        border: 1px solid black;
    }
}
