
<ion-header >
  <ion-navbar color="navbar">
          <ion-row>
              <button ion-button (click)="sideMenu()" clear item-start icon-only>
                  <img id="menu" src="assets/images/menu_b.svg" /> 
              </button>
              <ion-title text-center><h5 id="titulo" text-center>Adicionar Programação</h5></ion-title>
          </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding id="fundo_app">
  <div id="centro" *ngIf="!addPalest">
    <div id="add">
      <form [formGroup]="signupForm" novalidate>
        <ion-item id="semCor">
            <ion-label id="letraBranca"  stacked>Titulo:</ion-label>
            <ion-input id="letraBranca" formControlName="titulo" type="text" placeholder="Titulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo de programação:</ion-label>
          <ion-select formControlName="tipo">
            <ion-option *ngFor="let prog of progs" value="{{prog}}">{{prog}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item id="semCor" *ngIf="signupForm.value.tipo == 'Maratona'">
          <label for="myInput" >
            <div  id="center">
                <img padding id="fotos" src={{imageURL}} />
            </div>
            <input #myInput class="visually-hidden" id="myInput" type="file" (change)="atualizaArquivo($event)"/>
          </label>
        </ion-item>
        <ion-item>
          <ion-label>Local:</ion-label>
          <ion-select formControlName="local">
            <ion-option *ngFor="let local of locais" value="{{local.local}}">{{local.local}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Dia:</ion-label>
            <ion-datetime formControlName="dia" placeholder="DD-MM-YYYY" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" min="2018" min="2018" doneText="ok" cancelText="cancelar">
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Hora inico:</ion-label>
            <ion-datetime formControlName="horaI" placeholder="HH:mm" displayFormat="HH:mm" pickerFormat="HH:mm" doneText="ok" cancelText="cancelar">
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Hora Final:</ion-label>
            <ion-datetime  formControlName="horaF" placeholder="HH:mm" displayFormat="HH:mm" pickerFormat="HH:mm" [min]="signupForm.value.horaI"  doneText="ok" cancelText="cancelar">
            </ion-datetime>
        </ion-item>
        <div id="corpoRow">
            <ion-label id="label">Descrição:</ion-label>
            <textarea #myInput2 formControlName="desc" id="myInput2" rows="7" maxLength="580" (keyup)="resize()"></textarea>
            <p id="contador"><strong>{{signupForm.value.desc.length}}/580</strong></p>
        </div>
        <ion-item-divider no-lines text-center color="blueDark">Palestrantes</ion-item-divider>
        <ion-item (click)="modo()">
            <ion-icon color="dark" name="add" item-end></ion-icon>
            Adicionar palestrante
        </ion-item>
          <div class="itens0" *ngFor="let palestrante of palestrantes">
                  <div class="itens">
                      <div id="Xicon" (click)="rmParticipante(palestrante)">
                          <ion-icon color="light" name="md-close"></ion-icon>
                      </div>
                      <div class="itens2" align-items-center>
                          <div id="x">
                              <div>
                                  <ion-thumbnail id="thumb" item-start>
                                      <img src="{{palestrante.imagem}}">
                                  </ion-thumbnail>
                              </div>
                          </div>
                          <div padding>
                              <p>
                                  <a id="subTitulo">{{palestrante.nome}}</a><br>
                                  <a > {{palestrante.formacao}} </a>
                              </p>
                          </div>
                      </div>
                  </div>
          </div>
      </form>
    </div>
      <div class="edit" id="centro">
        <ion-fab bottom>
            <button ion-fab (click)="addProg()" color="blueDark" [disabled]="!signupForm.valid"><ion-icon name="md-checkmark"></ion-icon></button>
        </ion-fab>
      </div>
  </div>
  
  <div class="centroTotal" *ngIf="addPalest">
    <div id="add">
      <div>
        <div id="centro">
            <button *ngIf="addPalest" (click)="modo()" item-end color="danger" ion-button clear item-end icon-only>
                <ion-icon name='md-close'></ion-icon>
            </button>
        </div>
        <ion-searchbar (ionInput)="getUsers($event)"></ion-searchbar>
        <ion-list *ngIf="palestrantesPesq != null" padding>
            <ion-item *ngFor="let palestrante of palestrantesPesq" (click)="AddPart(palestrante)">
              <ion-thumbnail item-start>
                  <img src="{{palestrante.imagem}}">
              </ion-thumbnail>
              <h2>{{palestrante.nome}}</h2>
              <h4>{{palestrante.formacao}}</h4>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="palestrantesPesq == null && palestrantesPerfil != null" padding>
            <ion-item *ngFor="let palestrante of palestrantesPerfil" (click)="AddPart(palestrante)">
              <ion-thumbnail item-start>
                  <img src="{{palestrante.imagem}}">
              </ion-thumbnail>
              <h2>{{palestrante.nome}}</h2>
              <h4>{{palestrante.formacao}}</h4>
            </ion-item>
        </ion-list>
    </div>
    </div>
  </div>
  
  <br><br>
  <br><br>
  <br>
</ion-content>
